body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1e1e2f, #12121c);
}
.Container {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  box-shadow: 4px 6px 8px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
}
.Container h1 {
  font-family: "Digital7";
  padding: 0;
  margin: 0;

  font-size: 50px;
}
.Display {
  display: flex;
  width: 100%;
  max-width: 96%;
  height: 60px;
  background-color: cornflowerblue;
  box-shadow: inset 2px 3px 8px;
  border-radius: 8px;
  align-items: center;
  justify-content: end;
  font-size: 40px;
  padding: 0 8 0 8;
  font-family: "Digital7";
  font-weight: 900;
  font-size: 60px;
}
.NumPad {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.button {
  border: solid 2px black;

  border-radius: 8px;
  box-shadow: 2px 2px 8px;
  font-family: "Digital7";
  font-weight: 900;
  font-size: 60px;
}
#Plus {
  grid-row: span 2;
  background-color: brown;
}
@font-face {
  font-family: "Digital7";
  src: url("digital-7.ttf") format("truetype");
}
@media (max-width: 480px) {
  .Container {
    width: 70%;
    padding: 15px;
    gap: 15px;
  }

  .Container h1 {
    font-size: 30px;
  }

  .Display {
    height: 50px;
    font-size: 32px;
  }

  .button {
    font-size: 28px;
    padding: 10px;
  }

  .NumPad {
    gap: 6px;
  }
}
