body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* width: fit-content; */
}

.loginBox {
  background: #020617;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginBox input,
.loginBox button {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.6rem;
}
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: #020617;
}
.DashButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.DashButtons a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.DButtons {
  border: none;
  height: 40px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}
.DButtons:hover {
  box-shadow: 0 0 5px #fd8383;
  background-color: #fd8383;
  transform: translateY(-2px);
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.card {
  background: #020617;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  font-size: 1.2rem;
}
.chart-card {
  grid-column: span 3;
  height: 450px;
  background: #020617;
  border-radius: 8px;
  padding: 1rem;
}
.chart-card canvas {
  width: 100%;
  height: 100%;
}
#activityChart {
  max-height: 80%;
}
/* Tablet */

@media (max-width: 900px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */

@media (max-width: 480px) {
  .auth {
    padding: 15px;
    /* align-items: flex-start; */
  }

  .loginBox {
    width: 100%;
    max-width: 100%;
    padding: 1.5rem;
  }
  .loginBox input,
  .loginBox button {
    padding: 0.8rem;
    font-size: 16px;
  }

  .dashboard {
    grid-template-columns: 1fr;
  }

  .chart-card {
    height: 300px;
  }
}
/* Tablet */

@media (max-width: 900px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */

@media (max-width: 600px) {
  .topbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .DashButtons {
    width: 100%;
    justify-content: flex-start;
  }

  .dashboard {
    grid-template-columns: 1fr;
  }

  .chart-card {
    height: 300px;
  }
}

/* Small phones */

@media (max-width: 400px) {
  .topbar h2 {
    font-size: 18px;
  }

  .DButtons {
    height: 35px;
    font-size: 14px;
    padding: 0 10px;
  }

  .chart-card {
    height: 250px;
  }
}
