body {
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  margin-bottom: 10px;
}
.Container {
  /* margin-top: 20px; */
  perspective: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.Card {
  border-radius: 8px;
  height: 190px;
  width: 140px;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1000ms;
  cursor: pointer;
}
.Card.is-flipped {
  transform: rotateY(180deg);
}
.Card.flipTwo {
  transform: rotateY(180deg);
}
.Card.disabled {
  pointer-events: none;
}
.Card.Glow {
  transform: scale(0.7) rotateY(180deg);
  transition: transform 0.9s ease;
}
.Front,
.Back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  box-shadow: 0 0 5px;
}
.Front {
  border-radius: 8px;
  background-color: antiquewhite;
}
.Back {
  border-radius: 8px;
  /* background-color: burlywood; */
  transform: rotateY(180deg);
}
.timerBox {
  height: 40px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-weight: bolder;
  background-color: antiquewhite;
  box-shadow: inset 0 0 5px;
}
.TimerResetBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#Reset {
  position: absolute;
  top: 5;
  left: 28%;
  height: 40px;
  margin-left: 50px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bolder;
  background-color: antiquewhite;
}
#Reset:hover {
  background-color: bisque;
  transform: scale(1.03);
}
