body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.Screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ChoiceDisplay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
#Display {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;
  height: 100px;
  width: 200px;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
}
#pcDisplay {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: xx-large;
  height: 100px;
  width: 200px;
  border: 2px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
}
#ScoreBoard {
  height: 50px;
  width: 100px;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 10px;
  background-color: antiquewhite;
  font-weight: bolder;
}
.Scores {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  color: black;
}
button {
  height: 50px;
  width: 100px;
  font-size: large;
  font-weight: bolder;
  border-radius: 8px;
  cursor: pointer;
  background-color: antiquewhite;
  border: 2px solid black;
}
button:hover {
  background-color: black;
  color: white;
}
#reset {
  margin-top: 10px;
}
#History {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  font-weight: bolder;
  font-size: large;
  white-space: pre-line;
}
