body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
  height: fit-content;
  gap: 2px;
}
.box {
  background-color: antiquewhite;
  width: 100px;
  height: 100px;
  border: solid 2px black;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 70px;
  font-weight: bolder;
}
.box:hover {
  scale: 1.01;
}
.box.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
.top-left {
  border-top-left-radius: 10px;
}
.top-right {
  border-top-right-radius: 10px;
}
.bottom-left {
  border-bottom-left-radius: 10px;
}
.bottom-right {
  border-bottom-right-radius: 10px;
}
#Win {
  height: 80px;
  margin: 15px;
  font-size: 32px;
  font-weight: bold;
  color: black;
}
.winner {
  background-color: lightgreen;
}
#reset {
  background-color: antiquewhite;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}
#reset:hover {
  scale: 1.02;
}
